@using com.Sconit.Web.Models.SearchModels.SI
<fieldset>
    @using (Html.BeginForm("SAPPPMES0001List", "SAPInterface"))
    {   
        <div class="search">
            <div class="search-label">
                <label for="OrderMaster_OrderNo">
                    @Resources.SI.SAPPPMES.SAPPPMES_ZMESSC 
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("ZMESSC", TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).ZMESSC : string.Empty)
            </div>
            <div class="search-label">
                <label>
                    收货单号
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("MTSNR", TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).MTSNR : string.Empty)
            </div>
            <div class="search-label">
                <label>
                    产品物料
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("MATNR_H", TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).MATNR_H : string.Empty)
            </div>
            <div class="search-label">
                <label>
                    产品库位
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("LGORT_H", TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).LGORT_H : string.Empty)
            </div>
            <div class="search-label">
                <label>
                    组件物料
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("MATNR_I", TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).MATNR_I : string.Empty)
            </div>
            <div class="search-label">
                <label>
                    组件库位
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("LGORT_I", TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).LGORT_I : string.Empty)
            </div>
            <div class="search-label">
                <label for="OrderMaster_OrderNo">
                    @Resources.SI.SAPPPMES.SAPPPMES_BWART_H
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("BWART_H", TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).BWART_H : string.Empty)
            </div>
            <div class="search-label">
                <label for="OrderMaster_OrderNo">
                    @Resources.SI.SAPPPMES.SAPPPMES_BWART_I
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("BWART_I", TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).BWART_I : string.Empty)
            </div>
            <div class="search-label">
                <label>
                    订单类型
                </label>
            </div>
            <div class="search-field">
                @{
                 Html.RenderAction("_SAPInterfaceSelectBox", "Common", new
                     {
                         checkedValues = TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).MultiInterfaces : "",
                         code = com.Sconit.CodeMaster.CodeMaster.OrderStatus,
                         controlName = "MultiSelectOrderType",
                         controlId = "MultiSelectInterface"
                     });
                }
                @Html.Hidden("MultiInterfaces", TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).MultiInterfaces : "")
            </div>
            <div class="search-label">
            </div>
            <div class="search-field">
            </div>
             <div class="search-label">
                <label for="OrderMaster_DateFrom">
                    时间 从
                </label>
            </div>
            <div class="search-field">
                @(Html.Telerik().DateTimePicker().Format("yyyy-MM-dd HH:mm").Name("TransStartDate")
                .Value(TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).TransStartDate : System.DateTime.Today.AddDays(-7))
                .HtmlAttributes(new { style = "margin-bottom: 1.3em;width:200px" }))
            </div>
            <div class="search-label">
                <label for="OrderMaster_DateTo">
                    至
                </label>
            </div>
            <div class="search-field">
                @(Html.Telerik().DateTimePicker().Format("yyyy-MM-dd HH:mm").Name("TransEndDate")
    .Value(TempData["SAPInterfaceSearchModel"] != null ? ((SAPInterfaceSearchModel)TempData["SAPInterfaceSearchModel"]).TransEndDate : System.DateTime.Today.AddDays(1))
                .HtmlAttributes(new { style = "margin-bottom: 1.3em;width:200px" }))
            </div>
           <div class="editor-label-2">
            <label>
                <label>
                时间类型:
                </label>
            </label>
            </div>
            <div class="editor-field-2">
                @Html.RadioButton("TimeType", 0, true)<span>调用时间</span>
                @Html.RadioButton("TimeType", 1, false)<span>过账时间</span>
            </div>
           <div class="editor-label-2">
            <label>
                @Resources.SI.SAPTransferLog.SAPTransferLog_Status
            </label>
            </div>
            <div class="editor-field-2">
                @Html.RadioButton("Status", 0, true)<span>所有</span>
                @Html.RadioButton("Status", 1, false)<span>成功</span>
                @Html.RadioButton("Status", 2, false)<span>失败</span>
            </div>
        </div>
        <div class="search-footer">
            @Html.Hidden("isFromList", true)
            <button type="submit" id="btnSearch">
                @Resources.SYS.Global.Button_Search</button>
            <button type="button" id="btnExport" onclick="ExportClick()">
            @Resources.SYS.Global.Button_Export</button>
        </div>

    }
</fieldset>
<script type="text/javascript">
    function ExportClick() {

        location.href = '/SAPInterface/ExportSAPPPMES0001XLS/?ZMESSC=' + $('#ZMESSC').val()
            + '&TransStartDate=' + $('#TransStartDate').val()
            + '&TransEndDate=' + $('#TransEndDate').val()
            + '&MATNR_H=' + $('#MATNR_H').val()
            + '&MATNR_I=' + $('#MATNR_I').val()
            + '&LGORT_H=' + $('#LGORT_H').val()
            + '&LGORT_I=' + $('#LGORT_I').val()
            + '&BWART_H=' + $('#BWART_H').val()
            + '&BWART_I=' + $('#BWART_I').val()
            + '&MTSNR=' + $('#MTSNR').val()
            + '&MultiInterfaces=' + $('#MultiInterfaces').val()
            + '&Status=' + $("input[name='Status']:checked").val()
            + '&TimeType=' + $("input[name='TimeType']:checked").val();
    }

    $(function () {
        $('#MultiSelectInterface').multiselect({
            noneSelectedText: "选择订单类型...",
            selectedText: "已选#个接口",
            checkAllText: "全选",
            uncheckAllText: "取消全选",
            selectedList: 3,
            click: function (event, ui) {
                $('#MultiInterfaces').attr("value", getMultiInterfaces());
            },
            checkAll: function () {
                $('#MultiInterfaces').attr("value", getMultiInterfaces());
            },
            uncheckAll: function () {
                $('#MultiInterfaces').attr("value", getMultiInterfaces());
            }
        });
    });

    function getMultiInterfaces() {
        var m = "";
        var array_of_checked_values = $("#MultiSelectInterface").multiselect("getChecked").map(function () {
            return this.value;
        }).get();
        if (array_of_checked_values != null) {
            if (array_of_checked_values.length > 0) {
                m = array_of_checked_values[0];
                for (var i = 1; i < array_of_checked_values.length; i++) {
                    m = m + "," + array_of_checked_values[i];
                };
            }
        }
        return m;
    }
</script>
