@using com.Sconit.Entity.SYS
@model com.Sconit.Entity.MD.Uom
           
@Html.Partial("_AjaxMessage")
<form action="/Uom/_Edit" method="post">
    <fieldset>
        <legend>@Resources.MD.Uom.Uom_Edit_Title</legend>
        <div class="editor">
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.CreateUserName)
                @Html.HiddenFor(model => model.CreateDate)
                @Html.HiddenFor(model => model.LastModifyUserName)
                @Html.HiddenFor(model => model.LastModifyDate)
            <div class="editor-label-2">
                @Html.LabelFor(model => model.Code)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.Code)
            </div>
            <div class="editor-label-2">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field-2">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
             <div class="editor-label-2">
                @Html.LabelFor(model => model.Sequence)
            </div>
            <div class="editor-field-2">
                @Html.EditorFor(model => model.Sequence)
                @Html.ValidationMessageFor(model => model.Sequence)
            </div>
        </div>
        <div class="editor-footer">
        
    @*@Html.Button(Resources.SYS.Global.Button_Delete, "Url_Uom_Edit", new Dictionary<string, string>()
	    {
	        {"type", "submit"},
	        {"id", "btnDelete"},
            {"needconfirm","false"}
	    })*@
            @*<input type="submit" value="@Resources.SYS.Global.Button_Save"/>*@
        @*    <button type="button" id="btnDelete" onclick="btnDelete_Click();">
                @Resources.SYS.Global.Button_Delete</button>*@

    @Html.Button(Resources.SYS.Global.Button_Save, "Url_Uom_Edit", new Dictionary<string, string>()
	    {
	        {"type", "submit"},
	        {"id", "btnSave"},
            {"needconfirm","false"}
	    })
          <button type="button" id="btnUomEditBack" onclick="btnUomEditBack_Click()">
                @Resources.SYS.Global.Button_Back</button>
        </div>
    </fieldset>
</form>

<script language="javascript" type="text/javascript">
    function btnDelete_Click() {
             var data = {
           "Code": $("#Code").val()
        };
        $.ajax({
            type: "post",
            dataType: "html",
            url: "/Uom/Delete/",
            data: data,
            cache: false,
            success: function (data, textStatus) {
                var tabStrip = $("#TabStrip");
                var tabStripContent0 = tabStrip.data("tTabStrip").getContentElement(0);
                $(tabStripContent0).html(data);
            }
        });
    }
    
    $(document).ready(function () {
        $("form[action$='_Edit']").submit(function () {
            $.post($(this).attr("action"), $(this).serialize(), function (response) {
                var tabStrip = $("#TabStrip");
                var tabStripContent0 = tabStrip.data("tTabStrip").getContentElement(0);
                $(tabStripContent0).html(response);
            });
            return false;
        });
    });

    function btnUomEditBack_Click() {
        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Uom/List/",
            data: "",
            cache: false,
            success: function (data, textStatus) {
                var tabStrip = $("#TabStrip");
                var tabStripContent0 = tabStrip.data("tTabStrip").getContentElement(0);
                $(tabStripContent0).html(data);
            }
        });
    }
   
</script>





