@using com.Sconit.Entity.SYS
@model com.Sconit.Entity.MRP.MD.Island
@{
    Html.RenderAction("_SiteMapPath", "Common", new { MenuContent = "Url_MRP_Island_View" });
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>@Resources.MRP.Island.Island_Edit_Title</legend>
        <div class="editor">
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.CreateUserName)
            @Html.HiddenFor(model => model.CreateDate)
            @Html.HiddenFor(model => model.CreateUserId)
            <div class="editor-label-2">
                @Html.LabelFor(model => model.Code)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.Code)
            </div>
            <div class="editor-label-2">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field-2">
                @Html.EditorFor(model => model.Description)
            </div>
             <div class="editor-label-2">
                @Html.LabelFor(model => model.Region)
            </div>
            <div class="editor-field-2">
                   @{
    Html.RenderAction("_RegionComboBox", "Common",
        new
        {
            controlName = "Region",
            selectedValue = Model.Region
        });
                    }
            </div>
             <div class="editor-label-2">
                @Html.LabelFor(model => model.Qty)
            </div>
            <div class="editor-field-2">
                 @Html.Telerik().NumericTextBoxFor(model => model.Qty).DecimalDigits(2).MinValue(0)
                  @Html.ValidationMessageFor(model => model.Qty)
            </div>
               <div class="editor-label-2">
                @Html.LabelFor(model => model.IsActive)
            </div>
            <div class="editor-field-2">
               @Html.CheckBoxFor(model => model.IsActive)
            </div>
            
             <div class="editor-label-2">
                @Html.LabelFor(model => model.Seq)
            </div>
            <div class="editor-field-2">
               @Html.Telerik().NumericTextBoxFor(model => model.Seq).DecimalDigits(0).MinValue(0)
                @Html.ValidationMessageFor(model => model.Seq)
            </div>
        </div>
        <div class="editor-footer">
            <button type="submit" id="btnSave">
                @Resources.SYS.Global.Button_Save</button>
            
          @*  @Html.Button(Resources.SYS.Global.Button_Delete, "Url_MRP_Island_View", new Dictionary<string, string>()
	        {
	            {"type", "button"},
	            {"id", "btnDelete"},
                {"needconfirm","true"},
                {"onclick","location.href='"+@Url.Content("~/Island/Delete/?Code="+@Model.Code)+"'"}
            })*@
            <button type="button" id="btnBack" onclick="location.href='@Url.Content("~/Island/List")'">
                @Resources.SYS.Global.Button_Back</button>
        </div>
    </fieldset>
}
