@using com.Sconit.Web.Models.SearchModels.TMS
@{
    Layout = null;
}
<script type="text/javascript">

</script>
<fieldset>
    @using (Html.BeginForm("List", "TransportFlow", new { isFromList = false }))
    {   
        <div class="search">
            <div class="search-label">
                <label for="FlowMaster_Code">
                    @Resources.TMS.TransportFlow.TransportFlowMaster_Code
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("Flow", TempData["TransportFlowSearchModel"] != null ? ((TransportFlowSearchModel)TempData["TransportFlowSearchModel"]).Flow : string.Empty)
            </div>
            <div class="search-label">
                <label for="FlowMaster_Code">
                    @Resources.TMS.TransportFlow.TransportFlowMaster_Description
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("Description", TempData["TransportFlowSearchModel"] != null ? ((TransportFlowSearchModel)TempData["TransportFlowSearchModel"]).Description : string.Empty)
            </div>
            <div class="search-label">
                <label for="FlowMaster_FirstName">
                    @Resources.TMS.TransportFlow.TransportFlowMaster_IsActive
                </label>
            </div>
            <div class="search-field">
                 @Html.CheckBox("IsActive", TempData["TransportFlowSearchModel"] != null ? ((TransportFlowSearchModel)TempData["TransportFlowSearchModel"]).IsActive : true)
            </div>
        </div>
        <div class="search-footer">
        @Html.Hidden("isFromList", true)
            <button type="submit" id="btnSearch">
                @Resources.SYS.Global.Button_Search</button>
            <button type="button" id="btnNew" onclick="location.href='@Url.Content("~/TransportFlow/New")'">
                @Resources.SYS.Global.Button_New</button>
        <button type="button" id="btnExport">
        @Resources.SYS.Global.Button_ExportDetail</button>
        </div>

    }
</fieldset>
<script type="text/javascript">
    var t = "";
    $('#btnSearch').click(function () {

        if (t != "") {
            $('form').attr('action', t);
        }
        $('form').submit();
    });
    $('#btnExport').click(function () {

        if (t == "") {
            t = $('form').attr('action');
        }
        $('form').attr('action', "/TransportFlow/Export/");
        $('form').submit();
    });
</script>