@model com.Sconit.Web.Models.ChangePasswordModel
@{
    Html.RenderAction("_SiteMapPath", "Common", new { MenuContent = "Url_UserFav_View" });
}
@using (Html.BeginForm())
{
    <fieldset>
    <legend>@Resources.ACC.User.User_ChangePassword_Title</legend>
    <div class="editor-label-2">
        @Html.LabelFor(model => model.NewPassword)
    </div>
    <div class="editor-field-2">
        @Html.EditorFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
    <div class="editor-label-2">
        @Html.LabelFor(model => model.ConfirmPassword)
    </div>
    <div class="editor-field-2">
        @Html.EditorFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
    <div class="editor-footer">
        <button type="submit" id="btnSave">
            @Resources.SYS.Global.Button_Save</button>
             <button type="button" id="btnBack" onclick="location.href='@Url.Content("~/UserFavorite/Index")'">
                @Resources.SYS.Global.Button_Back</button>
    </div>
    </fieldset>
}
