@using com.Sconit.Entity.SI
@using com.Sconit.Web.Models.SearchModels.SI
@using com.Sconit.Web.Models.SearchModels.SI.SAP
<fieldset>
    @using (Html.BeginForm("List", "SAPOpReport"))
    {   
        <div class="search">
            <div class="search-label">
                <label>
                    @Resources.CUST.OperationReport.OpReport_OrderNo
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("OrderNo", TempData["OpReportSearchModel"] != null ? ((OpReportSearchModel)TempData["OpReportSearchModel"]).OrderNo : string.Empty)
            </div>
            <div class="search-label">
                <label>
                    @Resources.CUST.OperationReport.OpReport_ExtOrderNo
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("ExtOrderNo", TempData["OpReportSearchModel"] != null ? ((OpReportSearchModel)TempData["OpReportSearchModel"]).ExtOrderNo : string.Empty)
            </div>
            <div class="search-label">
                <label>
                    @Resources.CUST.OperationReport.OpReport_StartDate
                </label>
            </div>
            <div class="search-field">
                <div class="search-field">
                    @(Html.Telerik().DatePicker().Format("yyyy-MM-dd").Name("StartDate")
.Value(TempData["OpReportSearchModel"] != null ? ((OpReportSearchModel)TempData["OpReportSearchModel"]).StartDate : System.DateTime.Today)
                .HtmlAttributes(new { style = "margin-bottom: 1.3em;width:200px" }))
                </div>
            </div>
            <div class="search-label">
                <label>
                    @Resources.CUST.OperationReport.OpReport_EndDate
                </label>
            </div>
            <div class="search-field">
                @(Html.Telerik().DatePicker().Format("yyyy-MM-dd").Name("EndDate")
.Value(TempData["OpReportSearchModel"] != null ? ((OpReportSearchModel)TempData["OpReportSearchModel"]).EndDate : System.DateTime.Today.AddDays(1))
                .HtmlAttributes(new { style = "margin-bottom: 1.3em;width:200px" }))
            </div>
            <div class="search-label">
                <label>
                    @Resources.CUST.OperationReport.OpReport_Operation
                </label>
            </div>
            <div class="search-field">
               @Html.TextBox("Operation", TempData["OpReportSearchModel"] != null ? ((OpReportSearchModel)TempData["OpReportSearchModel"]).Operation : string.Empty)
            </div>
        </div>
        <div class="search-footer">
            @Html.Hidden("isFromList", true)
            <button type="submit" id="btnSearch">
                @Resources.Global.Button_Search</button>
            @* // <button type="button" id="btnEdit" onclick="editCheckedOrders()" style="display: none">@Resources.Global.Button_Confirm</button>*@
        </div>
    }
</fieldset>
