@using com.Sconit.Entity.SYS
@model com.Sconit.Entity.ISI.TaskAddress
@{
    ViewBag.Title = Resources.ISI.TaskAddress.TaskAddress_Edit_Title;
    Html.RenderAction("_SiteMapPath", "Common", new { MenuContent = "Url_TaskAddress_View" });
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>@Resources.ISI.TaskAddress.TaskAddress_Edit_Title</legend>
        <div class="editor">
            <div class="editor-label-2">
                @Html.LabelFor(model => model.Code)
                @Html.HiddenFor(model => model.Code)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.Code)
            </div>
            <div class="editor-label-2">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field-2">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
              <div class="editor-label-2">
                @Html.LabelFor(model => model.Seq)
            </div>
            <div class="editor-field-2">
                @Html.EditorFor(model => model.Seq)
                @Html.ValidationMessageFor(model => model.Seq)
            </div>
    
        </div>
        <div class="editor-footer">
            <button type="submit" id="btnSave">
                @Resources.SYS.Global.Button_Save
            </button>
            <button type="button" id="btnDelete" onclick="location.href='@Url.Content("~/TaskAddress/Delete/" + @Model.Code)'">
                @Resources.SYS.Global.Button_Delete
            </button>
            <button type="button" id="btnBack" onclick="location.href='@Url.Content("~/TaskAddress/List")'">
                @Resources.SYS.Global.Button_Back
            </button>
        </div>


    </fieldset>
}


