@using com.Sconit.Entity.MRP.TRANS;
@using com.Sconit.CodeMaster;
@using com.Sconit.Utility;
@model IEnumerable<com.Sconit.Entity.MRP.TRANS.MrpExSectionPlan>
@{  
    if (Model == null || Model.Count() == 0)
    {
        <text>没有记录.</text>
        return;
    }
    var startDate = Model.Select(p => p.StartTime).Min().AddHours(4).Date;
    startDate = DateTimeHelper.GetStartTime(TimeUnit.Week, startDate).Date;
    var endDate = DateTimeHelper.GetEndTime(TimeUnit.Week, startDate).Date.AddDays(1);
    var planHeadDic = new Dictionary<DateTime, DayOfWeek>();
    while (startDate <= endDate)
    {
        planHeadDic.Add(startDate, startDate.DayOfWeek);
        startDate = startDate.AddDays(1);
    }
    var planBodyList = Model.GroupBy(p => p.ProductLine, (k, g) => new { Flow = k, List = g.ToList() }).OrderBy(p => p.Flow).ToList();
}

@Html.Partial("_AjaxMessage")
<table border="0" id="datatable" style="width: 100%">
    <thead>
        <tr style="text-align: center">
            <th rowspan="2" style="min-width: 40px">生产线</th>
            <th>星期一</th>
            <th colspan="2">@planHeadDic.ElementAt(0).Key.ToString("yyyy-MM-dd")</th>
            <th>星期二</th>
            <th colspan="2">@planHeadDic.ElementAt(1).Key.ToString("yyyy-MM-dd")</th>
            <th>星期三</th>
            <th colspan="2">@planHeadDic.ElementAt(2).Key.ToString("yyyy-MM-dd")</th>
            <th>星期四</th>
            <th colspan="2">@planHeadDic.ElementAt(3).Key.ToString("yyyy-MM-dd")</th>
            <th>星期五</th>
            <th colspan="2">@planHeadDic.ElementAt(4).Key.ToString("yyyy-MM-dd")</th>
            <th>星期六</th>
            <th colspan="2">@planHeadDic.ElementAt(5).Key.ToString("yyyy-MM-dd")</th>
            <th>星期日</th>
            <th colspan="2">@planHeadDic.ElementAt(6).Key.ToString("yyyy-MM-dd")</th>
            <th>溢出</th>
            <th colspan="2">@planHeadDic.ElementAt(7).Key.ToString("yyyy-MM-dd") ~</th>
        </tr>
        <tr>
            @foreach (var planHead in planHeadDic)
            {
                <th style="min-width: 38px">断面</th>
                <th style="min-width: 70px; max-width: 70px">描述</th>
                <th style="min-width: 28px">班数</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var planBody in planBodyList)
        {
            var list = new List<List<MrpExSectionPlan>>();
            var lastPlanDate = planHeadDic.Last().Key;
            foreach (var planHead in planHeadDic)
            {
                if (planHead.Key == lastPlanDate)
                {
                    var plans = planBody.List.Where(p => p.PlanDate >= planHead.Key)
                        .GroupBy(p => p.Section, (k, g) => new { k, g }).Select(p =>
                        {
                            var plan = p.g.First();
                            plan.ShiftQty = p.g.Sum(q => q.ShiftQty);
                            return plan;
                        }).ToList();
                    list.Add(plans);
                }
                else
                {
                    list.Add(planBody.List.Where(p => p.PlanDate == planHead.Key).ToList());
                }
            }
            var rowspan = list.Max(p => p.Count());
            <tr>
                <td rowspan="@rowspan">@planBody.Flow</td>
                @for (int i = 0; i < rowspan; i++)
                {
                    if (i > 0)
                    {
                        Output.Write("<tr>");
                    }
                    foreach (var planList in list)
                    {
                        if (i < planList.Count())
                        {
                            var plan = planList[i];
                            var itemCode = plan.Section;
                            //if (plan.Section == "299999")
                            //{
                            //    itemCode = plan.Remark;
                            //}
                    <text>
                    <td>@itemCode</td>
                    <td>@plan.SectionDescription</td>
                    <td>@string.Format("{0}{1}", plan.ProductType.ToString(), plan.ShiftQty)</td>
                    </text>
                        }
                        else
                        {
                    <text>
                    <td></td>
                    <td></td>
                    <td></td>
                    </text>
                        }
                    }
                    Output.Write("</tr>");
                }
            </tr>
        }
    </tbody>
</table>
