@using com.Sconit.Entity.ACC
@using com.Sconit.Web.Models.SearchModels.ORD
@using com.Sconit.Entity.SYS
@using com.Sconit.Entity.ORD
<fieldset>
    @using (Html.BeginForm("DetailList", "SequenceMaster"))
    {   
        <div class="search">
            <div class="search-label">
                <label for="OrderMaster_OrderNo">
                    @Resources.ORD.SequenceMaster.SequenceMaster_SequenceNo
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("SequenceNo", TempData["SequenceMasterSearchModel"] != null ? ((SequenceMasterSearchModel)TempData["SequenceMasterSearchModel"]).SequenceNo : string.Empty)
            </div>
            <div class="search-label">
                <label for="OrderMaster_Flow">
                    @Resources.ORD.SequenceMaster.SequenceMaster_Flow
                </label>
            </div>
            <div class="search-field">
                @{
        Html.RenderAction("_FlowComboBox", "Common",
            new { 
                controlName = "Flow", 
                selectedValue = TempData["SequenceMasterSearchModel"] != null ? ((SequenceMasterSearchModel)TempData["SequenceMasterSearchModel"]).Flow : string.Empty
            });
                }
            </div>
            <div class="search-label">
               <label for="OrderMaster_OrderNo">
                    @Resources.ORD.SequenceMaster.SequenceMaster_Item
                </label>
            </div>
            <div class="search-field">
                  @{
        Html.RenderAction("_ItemComboBox", "Common",
            new
            {
                controlName = "Item",
                selectedValue = TempData["SequenceMasterSearchModel"] != null ? ((SequenceMasterSearchModel)TempData["SequenceMasterSearchModel"]).Item : string.Empty
            });
                    
                }
            
            </div>
             <div class="search-label">
                <label>
                    @Resources.ORD.SequenceDetail.SequenceDetail_TraceCode
                </label>
            </div>
           <div class="search-field">
                @Html.TextBox("TraceCode", TempData["SequenceMasterSearchModel"] != null ? ((SequenceMasterSearchModel)TempData["SequenceMasterSearchModel"]).TraceCode : string.Empty)
            </div>
            <div class="search-label">
                <label for="OrderMaster_PartyFrom">
                  @Resources.ORD.SequenceMaster.SequenceMaster_PartyFrom
                </label>
            </div>
            <div class="search-field">
                @{
        Html.RenderAction("_OrderMasterPartyFromComboBox", "Common",
            new
            {  
               
                controlName = "PartyFrom",
                orderType = (int)com.Sconit.CodeMaster.OrderType.Procurement,
                selectedValue = TempData["SequenceMasterSearchModel"] != null ? ((SequenceMasterSearchModel)TempData["SequenceMasterSearchModel"]).PartyFrom : string.Empty
            });
                }
            </div>
            <div class="search-label">
                <label for="OrderMaster_PartyTo">
                    @Resources.ORD.SequenceMaster.SequenceMaster_PartyTo
                </label>
            </div>
            <div class="search-field">
                @{
        Html.RenderAction("_OrderMasterPartyToComboBox", "Common",
                        new
                        {
                            controlName = "PartyTo",
                            orderType = (int)com.Sconit.CodeMaster.OrderType.Procurement,
                            selectedValue = TempData["SequenceMasterSearchModel"] != null ? ((SequenceMasterSearchModel)TempData["SequenceMasterSearchModel"]).PartyTo : string.Empty
                        });
                }
            </div>
          
            
           
              <div class="search-label">
                <label for="OrderMaster_DateFrom">
                    @Resources.ORD.SequenceMaster.SequenceMaster_StartTime
                </label>
            </div>
            <div class="search-field">
                @(Html.Telerik().DatePicker().Name("StartTime")
.Value(TempData["SequenceMasterSearchModel"] != null ? ((SequenceMasterSearchModel)TempData["SequenceMasterSearchModel"]).StartTime : System.DateTime.Today.AddDays(-7))
                .HtmlAttributes(new { style = "margin-bottom: 1.3em;width:200px" }))
            </div>
            <div class="search-label">
                <label for="OrderMaster_DateTo">
                    @Resources.ORD.SequenceMaster.SequenceMaster_EndTime
                </label>
            </div>
            <div class="search-field">
                @(Html.Telerik().DatePicker().Name("EndTime")
            .Value(TempData["SequenceMasterSearchModel"] != null ? ((SequenceMasterSearchModel)TempData["SequenceMasterSearchModel"]).EndTime : System.DateTime.Today.AddDays(1))
                .HtmlAttributes(new { style = "margin-bottom: 1.3em;width:200px" }))
            </div>
             <div class="search-label">
                <label for="IpMaster_Status">
                    @Resources.ORD.SequenceMaster.SequenceMaster_Status
                </label>
            </div>
            <div class="search-field">
            @{
                    Html.RenderAction("_CodeMasterDropDownList", "Common", new
                    {
                        code = com.Sconit.CodeMaster.CodeMaster.SequenceStatus,
                        controlName = "Status",
                        includeBlankOption = true,
                        selectedValue = TempData["SequenceMasterSearchModel"] != null ? ((SequenceMasterSearchModel)TempData["SequenceMasterSearchModel"]).Status : null
                    });
                }
            </div>
        </div>
        <div class="search-footer">
            @Html.Hidden("isFromList", true)
            <button type="submit" id="btnSearch">
                @Resources.SYS.Global.Button_Search</button>
               @*  <button type="submit" id="btnExport" >
                @Resources.SYS.Global.Button_Export</button>*@
        </div>

    }
</fieldset>
