@using com.Sconit.Entity.SYS
@model com.Sconit.Entity.WMS.RepackTask
@{
    Html.RenderAction("_SiteMapPath", "Common", new { MenuContent = "Url_RepackTask_View" });
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>@Resources.WMS.RepackTask.RepackTask_Edit_Title</legend>
        <div class="editor">
            @Html.HiddenFor(model => model.CreateUserName)
            @Html.HiddenFor(model => model.CreateDate)
            @Html.HiddenFor(model => model.LastModifyUserName)
            @Html.HiddenFor(model => model.LastModifyDate)
            <div class="editor-label-2">
                @Html.LabelFor(model => model.Item)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.Item)
            </div>
           
            <div class="editor-label-2">
                @Html.LabelFor(model => model.ItemDescription)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.ItemDescription)
            </div>
            <div class="editor-label-2">
                @Html.LabelFor(model => model.UnitCount)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.UnitCount)
            </div>
            <div class="editor-label-2">
                @Html.LabelFor(model => model.UCDescription)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.UCDescription)
            </div>
            <div class="editor-label-2">
                @Html.LabelFor(model => model.BaseUom)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.BaseUom)
            </div>
              <div class="editor-label-2">
                @Html.LabelFor(model => model.Uom)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.Uom)
            </div>
            <div class="editor-label-2">
                @Html.LabelFor(model => model.Qty)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.Qty)
            </div>
            <div class="editor-label-2">
                @Html.LabelFor(model => model.RepackQty)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.RepackQty)
            </div>
        </div>
        <div class="editor-footer">
            <button type="button" id="btnBack" onclick="location.href='@Url.Content("~/RepackTask/List")'">
                @Resources.SYS.Global.Button_Back</button>
        </div>
    </fieldset>
}
